<ion-header>
  <ion-toolbar>
    <ion-title>informacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-card color="medium" slot="">
    <img src="https://img.freepik.com/vector-gratis/smart-house-technology-telefono-inteligente-mano-humana-aplicacion-sistema-control_126283-403.jpg"/>
    <ion-card-header>
      <ion-card-title>Smart House</ion-card-title>
      <ion-card-content>
        Smart House es una aplicación web y movil, que permite el monitero de los sensores arduino en la casa inteligente, llevando un control de registro 
        de forma grafica.
         </ion-card-content>
      <ion-card-subtitle>Desarrolladores: </ion-card-subtitle>
      <ion-card-subtitle>Julian Coyote Merino</ion-card-subtitle>
      <ion-card-subtitle>Armando Coyote Merino</ion-card-subtitle>
      <ion-card-subtitle>Jorge Coyote Merino</ion-card-subtitle>
     
    </ion-card-header>
 
  </ion-card> 
</ion-content>
