
<ion-tabs>
  <ion-tab-bar  slot="bottom">

    <ion-tab-button tab="temp" >
      <ion-icon name="color-wand-sharp"></ion-icon>
      <ion-label>Gráfica ldr</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="datos">
      <ion-icon name="receipt-sharp"></ion-icon>
      <ion-label>Datos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="grafica">
      <ion-icon name="stats-chart-sharp"></ion-icon>
      <ion-label>Gráfica distancia</ion-label>
    </ion-tab-button>

  
  </ion-tab-bar>
</ion-tabs>


